<div id="kt_app_aside" class="app-aside flex-column mt-7" data-kt-drawer="true" data-kt-drawer-name="app-aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_aside_toggle">
    <!--begin::Aside wrapper-->
    <div id="kt_app_aside_wrapper" class="hover-scroll-y px-5 mx-5 my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_aside" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
        <!--begin::Aside3-->
        <div class="card card-reset card-p-0">
            <!--begin::Header-->
            <div class="card-header align-items-center min-h-auto mb-7">
                <h3 class="card-title text-gray-900 fs-3 fw-bold py-0 mb-0">Shipment History</h3>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar mb-0">
                    <a href="#" class="btn btn-sm btn-light" data-bs-toggle='tooltip' data-bs-dismiss='click' data-bs-custom-class="tooltip-inverse" title="Logistics App is coming soon">View All</a>
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Nav-->
                <ul class="nav nav-pills nav-pills-custom position-relative mb-9 gap-5">
                    <!--begin::Item-->
                    <li class="nav-item">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-gray-600 btn-active-color-primary px-0 active d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_aside_tab_1">
                            <!--begin::Subtitle-->
                            <span class="nav-text text-gray-600 fw-bold fs-6">Personal</span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-1px bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item">
                        <!--begin::Link-->
                        <a class="nav-link btn btn-color-gray-600 btn-active-color-primary d-flex justify-content-center px-0 w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_aside_tab_2">
                            <!--begin::Subtitle-->
                            <span class="nav-text text-gray-600 fw-bold fs-6">Team</span>
                            <!--end::Subtitle-->
                            <!--begin::Bullet-->
                            <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-1px bg-primary rounded"></span>
                            <!--end::Bullet-->
                        </a>
                        <!--end::Link-->
                    </li>
                    <!--end::Item-->
                    <!--begin::Bullet-->
                    <span class="position-absolute z-index-1 bottom-0 w-100 h-1px bg-gray-300 rounded"></span>
                    <!--end::Bullet-->
                </ul>
                <!--end::Nav-->
                <!--begin::Tab Content-->
                <div class="tab-content">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade show active" id="kt_aside_tab_1">
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-ship text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Ship Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Messina Harbor</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Sicily, Italy</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Hektor Container Hotel</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Tallin, EST</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-truck text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Truck Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#0066-954784</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-primary fw-bold fs-7">Shipping</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Haven van Rotterdam</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Rotterdam, Netherlands</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Forest-Midi</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Brussels, Belgium</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-delivery text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Delivery Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Mina St - Zayed Port</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Abu Dhabi, UAE</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">27 Drydock Boston</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Boston, USA</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-airplane-square text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Plane Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-danger fw-bold fs-7">Delayed</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">KLM Cargo</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Schipol Airport, Amsterdam</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Singapore Cargo</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Changi Airport, Singapore</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Tap pane-->
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade" id="kt_aside_tab_2">
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-airplane-square text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Plane Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">KLM Cargo</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Schipol Airport, Amsterdam</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Singapore Cargo</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Changi Airport, Singapore</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-truck text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Truck Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#0066-954784</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Haven van Rotterdam</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Rotterdam, Netherlands</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Forest-Midi</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Brussels, Belgium</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-ship text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Ship Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Mina St - Zayed Port</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Abu Dhabi, UAE</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">27 Drydock Boston</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Boston, USA</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed mb-6 mt-5"></div>
                        <!--end::Separator-->
                        <!--begin::Item-->
                        <div class="m-0">
                            <!--begin::Wrapper-->
                            <div class="d-flex align-items-sm-center mb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40px me-4">
                                    <span class="symbol-label bg-primary">
                                        <i class="ki-duotone ki-ship text-inverse-primary fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <div class="flex-grow-1 me-2">
                                        <a href="#" class="text-gray-500 fs-6 fw-semibold">Ship Freight</a>
                                        <span class="text-gray-800 fw-bold d-block fs-5">#5635-342808</span>
                                    </div>
                                    <span class="badge badge-lg badge-light-success fw-bold fs-7">Delivered</span>
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Timeline-->
                            <div class="timeline">
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center mb-7">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px mt-6 mb-n12"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-cd fs-2 text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Messina Harbor</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Sicily, Italy</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                                <!--begin::Timeline item-->
                                <div class="timeline-item align-items-center">
                                    <!--begin::Timeline line-->
                                    <div class="timeline-line w-40px"></div>
                                    <!--end::Timeline line-->
                                    <!--begin::Timeline icon-->
                                    <div class="timeline-icon" style="margin-left: 11px">
                                        <i class="ki-duotone ki-geolocation fs-2 text-info">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Timeline icon-->
                                    <!--begin::Timeline content-->
                                    <div class="timeline-content m-0">
                                        <!--begin::Title-->
                                        <span class="fs-6 text-gray-500 fw-semibold d-block">Hektor Container Hotel</span>
                                        <!--end::Title-->
                                        <!--begin::Title-->
                                        <span class="fs-6 fw-bold text-gray-800">Tallin, EST</span>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Timeline content-->
                                </div>
                                <!--end::Timeline item-->
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Tap pane-->
                </div>
                <!--end::Tab Content-->
            </div>
            <!--end: Card Body-->
        </div>
        <!--end::Aside3-->
    </div>
    <!--end::Aside wrapper-->
</div>