{% extends "base.html" %}
{% block content %}
  <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <div class="col-xl-12">
      <div class="card card-flush h-xl-100">
        <div class="card-header pt-7">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-900">Recently Played</span>
            <span class="text-gray-500 mt-1 fw-semibold fs-6">Updated 37 minutes ago</span>
          </h3>
          <div class="card-toolbar">
            <a href="account/statements.html" class="btn btn-sm btn-light">History</a>
          </div>
        </div>
        <div class="card-body pt-7">
          <div class="row g-5 g-xl-9 mb-5 mb-xl-9">
            {% for camera in object_list %}
              <div class="col-sm-3 mb-3 mb-sm-0">
                <a href="{{ camera.get_absolute_url }}" class="m-0">
                  <div class="card-rounded position-relative mb-5">
                    <div class="bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded"
                         style="background-image:url('/static/assets/media/svg/misc/video-play.svg')"></div>
                    <button class="btn btn-icon h-auto w-auto p-0 ms-4 mb-4 position-absolute bottom-0 right-0"
                            data-kt-element="list-play-button">
                      <i class="bi bi-play-fill text-white fs-2x"
                         data-kt-element="list-play-icon"></i>
                      <i class="bi bi-pause-fill text-white fs-2x d-none"
                         data-kt-element="list-pause-icon"></i>
                    </button>
                  </div>
                  <div class="m-0">
                    <span class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">{{ camera }}</span>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
